{% extends "forms_app/base.html" %}

{% block info %}

	{% if form_list %}
<div class="row" align="center">
			{% for eachItem in form_list %}
<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="{{ eachItem.image_url}}"
		 alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">
				{{ eachItem.name }}
		</h5>
		<p class="card-text">
			{{ eachItem.description}}
		</p>
		<a href="{% url 'edit' pk=eachItem.pk %}" class="btn btn-primary">Edit</a>
		<a href="{% url 'delete' pk=eachItem.pk %}" class="btn btn-primary">Delete</a>
	</div>
</div>
			{% endfor %}
</div>
		{% else %}
		<p>Nothing available.</p>
		{% endif %}

{% endblock %}


